<h1>Editing Photo #<%= @photo.id %></h1>

<form action= "http://localhost:3000/photos/<%= @photo.id %>/edit">

<div>
    <label for="caption">Caption</label>
    <input placeholder="Enter a caption here:" value="<%= @photo.caption %>" name="caption" type="text" id="caption">
  </div>

<div>
	<label for="photo">Image URL</label>
	<input name="photo" value="<%= @photo.source %>" type="text" id="photo">
</div>


<div>
<input type="submit" value="Update Photo">
or <a href="http://localhost:3000/photos">Cancel</a>
</div>


</form>
