<h1>Add A New Photo</h1>

<form action="http://localhost:3000/photos/new">
	<div>
		<label for="photo_caption">Caption:</label>
		<input id="photo_caption" type="text" name="caption">
	</div>
	<div>
		<label for="photo_image_url">Image URL:</label>
		<input id="photo_image_url" type="text" name="source">
	</div>
	<div>
		<input type="submit" value="Create Photo">
		or <a href="/">Cancel</a>
	</div>
</form>

