<h1><%= @photo.caption %></h1>

<a href="http://localhost:3000/photos">Return To Index</a>

<dl>
  
  <dd>
    <img src="<%= @photo.source %>" width="750">
  </dd>

  <!-- Geocoordinates
 -->
  <dt>Source</dt>
  <dd><%= @photo.source %></dd>

</dl>


<a href="http://localhost:3000/delete_photo/<%= @photo.id %>">Delete this Photo</a>




