<h1></h1>

<dl>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>
  
  <dt>Image URL</dt>
  <dd>
    <img src="<%= @photo.source %>" width="80">
  </dd>

  <!-- Geocoordinates
 -->
  <dt>Source</dt>
  <dd><%= @photo.source %></dd>

</dl>

<a href="http://localhost:3000/delete_photo/<%= @photo.id %>">Delete this Photo</a>




