<h1></h1>

<dl>

  <dd><%= @photo.caption %></dd>
  
  <dd>
    <img src="<%= @photo.source %>" width="750">
  </dd>

  <!-- Geocoordinates
 -->
  <dt>Source</dt>
  <dd><%= @photo.source %></dd>

</dl>

<a href="http://localhost:3000/delete_photo/<%= @photo.id %>">Delete this Photo</a>




